# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=siscom_admin

# AWS Credentials (opcional si usas IAM Role en EC2)
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# AWS Cognito Configuration
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=your_user_pool_id_here
COGNITO_CLIENT_ID=your_client_id_here
COGNITO_CLIENT_SECRET=your_client_secret_here
DEFAULT_USER_PASSWORD=TempPass123!

# AWS SES - Email Configuration
SES_FROM_EMAIL=noreply@yourdomain.com
SES_REGION=us-east-1

# Frontend URL - Para construir URLs en los emails
FRONTEND_URL=http://localhost:3000

# Contact Email - Email donde se reciben los mensajes de contacto
CONTACT_EMAIL=contacto@geminislabs.com

# Google reCAPTCHA v3 - Secret key para validación de formularios
RECAPTCHA_SECRET_KEY=your-recaptcha-secret-key-here

# TODO, remover esto, debe ir en commands processor que aun no hago.. es decir, siscom-admin-api no debe enviar los comandos
KORE_CLIENT_ID=apiclient_01

KORE_CLIENT_SECRET=kore_secret_01

KORE_API_AUTH=https://kore.api.example

KORE_API_SMS=https://kore.api.example/smscommands


# Kafka - Alert rules updates
KAFKA_BROKERS=localhost:9092
KAFKA_RULES_UPDATES_TOPIC=alert-rules-updates
KAFKA_GEOFENCES_UPDATES_TOPIC=geofences-updates
KAFKA_USER_DEVICES_UPDATES_TOPIC=user-devices-updates
KAFKA_RULES_UPDATES_GROUP_ID=alert-rules-updates-group
KAFKA_SASL_USERNAME=events-alert-consumer
KAFKA_SASL_PASSWORD=eventsalertconsumerpassword
KAFKA_SASL_MECHANISM=SCRAM-SHA-256
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT

AWS_REGION=us-east-1
SNS_PLATFORM_APPLICATION_ARN_IOS=arn:aws:sns:example
SNS_PLATFORM_APPLICATION_ARN_ANDROID=arn:aws:sns:example

#API config
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5160,http://10.8.0.1:5160